<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holis</title>
</head>
<body>
    <h1>Esto es un documento HTML</h1>
    <h5>{{ usuario }}</h5>
    <table>
        <thead>
            <tr>
                <th>Columna</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ejemplo de contenido</td>
            </tr>
        </tbody>
    </table>
</body>
</html>